.header {
  display: flex;  
  justify-content: space-between;
  align-items: stretch;
  padding: 92px 50px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  align-self: center;
  width: auto;
  padding-top: 1px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: none;
}

.header__links-list-item {
  border-bottom: #000;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: center;
  width: auto;
  padding-right: 11%;  
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {  
  align-self: self-end;
  width: 240px;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
  list-style: none;
}

.header__address {
  align-self: center;
}

.cover {
  color: #fff;
  background: url("../images/cover.jpg") center/cover;
}

.overlay {
  height: inherit;
  padding: 165px 50px 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.letter-spacing-extended {  
  letter-spacing: 0.6em;
}

.aligned-text {
  margin-bottom: 10px;
  text-align: left;
}

.aligned-text_center {  
  margin-right: 30px;
  text-align: center;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 128px;
}

.cover__description-text {
  margin-right: 6%;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.273%;
  text-align: end;
  text-transform: uppercase;
  word-spacing: 17.5px;
}

.bet-button {
  border: 1px solid #fff;
  border-radius: 0;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
}

.lots {

}

.about {

}

.footer {

}